
<form id='add_form' method='post' action='/config/create/<%=params[:id]%>'>
	<input type='hidden' id='in_json' name='in' value='2'>
	<div class='row-fluid'>
	<span class="label label-info">添加响应条件:</span>
	</div>
	<div class='well'>
	<span class="badge">1</span>添加的条件中文说明
		<div id='condition_name_div' class="control-group">
	    	<span>条件名称:</span>
	        <input class="input-xlarge focused" id="condition_name" name="condition_name"  type="text" placeholder="关于条件的一些描述">
			<span id='condition_name_hint' class="help-inline"></span>
		</div>
	</div>
	<div class='well'>
		<span class="badge badge-success">2</span>当请求的条件满足以下条件时
		<div class='row-fluid'>
			<button  id='addc' class='btn' >添加一个条件</button>
				<input type="checkbox" id="ocb" value="option1">
				不使用任何请求参数作为响应条件
		</div>
		<div id='dynamic_gen' class='row-fluid'>
			<div class='row-fluid'>
			<div class='span2'>参数名称:<input type="text" id="param_name" name="param_name[]" class='span8'/></div>
			<div class='span3'>参数值:<input type="text" id="param_value" name="param_value[]" class='span12'/></div>
			</div>
		</div>
	</div>
	<div class='well'>
		<span class="badge badge-warning">3</span>添加返回值
		
		<div class='row-fulid'>
          <div id='response_value_div' class="control-group">
            <div class="controls">
              <textarea class="input-xlarge" id="response_value" name='response_value' rows="3"></textarea>
			  <span id='response_value_hint' class="help-inline"></span>
			  <button class='btn' onclick='return false;'>生成JSON</button>
            </div>
          </div>

		</div>
		<div class='row-fulid'>
			<button class='btn' id='submit_create'>提交</button>
		</div>
	</div>
</form>

<script>
	$(document).ready(function() {
		var i = 0;
		$("#addc").click(function(){
			$('#dynamic_gen').append('<div class="row-fluid"><div class="span2 "><div id="cg" class="control-group">参数名称:<input type="text" id="param_name" name="param_name[]" class="span8"/></div></div>'+
			'<div class="span3"><div id="cg" class="control-group">参数值:<input type="text" id="param_value" name="param_value[]" class="span12"/></div></div>' +
			'<div class="span5"><br/><button id="delbtn' + i +'" class="btn btn-danger btn-mini" ><i class="icon-trash icon-white"></i> 删除</button>' +
			'</div></div>');
			$("#delbtn"+i).click(function(){
				del(this);
			});
			i++;
			return false;
		});
		$("#ocb").click(function(){
			if(this.checked){
				$("#addc").attr('disabled',true);
				$('#dynamic_gen').hide(200);
			}else{
				$("#addc").attr('disabled',false);
				$('#dynamic_gen').show(200);
			}
		})

		$("#submit_create").click(function(){
			if(!validate()){
				return false;
			}
			if($('#ocb').attr('checked')){
				$("#in_json").attr("value","");
			}else{
				$("#in_json").attr("value",getin());
			}
		});
		
		$("#getjson").click(getin);
		
		function getin(){
			var obj = '{';
			$("#dynamic_gen").find('input[type="text"]').each(function(p){
				if(p%2==0){
					obj+='"'+this.value+'":';
				}else{
					obj+='"'+this.value+'",';
				}
			});
			obj = obj.substr(0,obj.length-1)+'}';
			
			return obj;
		}
		function del(node){
			$(node).parent('div').parent('div').remove();		
		}
		
		function validate(){
			var result=true;
			if($('#condition_name').attr('value')==''){
				$('#condition_name_div').addClass('control-group error');
				$('#con_hint').remove();
				$('#condition_name_hint').append('<span id="con_hint">不能为空，随便填点什么吧。</span>')
				result = false;
			}else{
				$('#condition_name_div').removeClass('control-group error');
				$('#con_hint').remove();
			}
			//校验动态传入参数
			if(!$("#ocb").attr('checked'))
			$('#dynamic_gen').find('input[id="param_name"]').each(function(i){
				if(this.value==''){
					$(this).parent('div').addClass('control-group error');
					$(this).attr('placeholder','不能为空');
					result=false;
				}else{
					$(this).parent('div').removeClass('control-group error');
					$(this).attr('placeholder','');
				}
			})
			if($('#response_value').attr('value')==''){
				$('#response_value_div').addClass('control-group error');
				$('#res_hint').remove();
				$('#response_value_hint').append('<span id="res_hint">响应内容不能为空。</span>')
				result = false;
			}else{
				$('#response_value_div').removeClass('control-group error');
				$('#res_hint').remove();
			}
			return result;
		}
	});
	

	
//	var obj = jQuery.parseJSON('{"1":"2","3":"4"}');
//	obj['aaa']='bbb';
//	alert(obj['1']);

</script>