	<div class='well'>
		<span class="badge badge-warning">logs</span>日志:
		<a href="/config/logs/del/<%=params[:id]%>" id="getlogs" class="btn btn-info btn-mini">清空日志</a>
		<div class='row-fulid'>
          <div id='response_value_div' class="control-group">
            <div class="controls">
              <textarea id="logscon"  class="input-xlarge" style="width:100%;height: 500px;" id="response_value" name='response_value' rows="3" readonly="readonly">
				<%- 
              		if @logs
              		@logs.each do |log|-%>
<%=log.created_at.strftime('%Y-%m-%d %H:%M:%S') + '-' + log.logs + "\n"-%>
<%-end
              		end-%></textarea>
			  <div id="logscon"></div>
            </div>
          </div>

		</div>

	</div>
	
<script>
	$(document).ready(function() {
		var maxlogid=<%=@maxlogid%>;
	    $('#getlogs').bind("ajax:success", function(event, data) {      
			$.each(data,function(index,obj){
				maxlogid=obj.id
				$('#logscon').append( obj.created_at + ":" + obj.logs + "\n" );
			})
	    });
	    
	    function gettimer(){
	    	$.post("/config/get_logs/<%=params[:id]%>/"+maxlogid, function(data) {
			$.each(data,function(index,obj){
				maxlogid=obj.id
				$('#logscon').append( obj.logs + "\n" );
			})
		} );
	    }
	    window.setInterval(gettimer,2000);
	})
	

</script>